<ion-header>
  <ion-navbar>
    <ion-title>
      Currency Convert
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="topButtons">
	< button ion-button (click)="signIn()" item-left>Sign In </button>
	< button ion-button (click)="register()" item-left>Register </button>
  </div>
</ion-content>
