<!--
  Generated template for the LoggedinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hello User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   {{email}}
</ion-content>
